.makeStyles-margin-2 {
    width: 100%;
}

label.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-filled.MuiFormLabel-filled {
    color: #000;
    font-size: 13px;
    font-weight: bold;
}