.AlertCovid {
  height: 60px;
  background: #222222;

  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
}

.AlertCovid p a {
  color: #dddddd;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}
.AlertCovid p a:hover {
  color: #a3a3a3cc;
}
