div.experience {
    max-width: 1260px;
    margin:0 80px;
    
}
h2.exp_title {
    font-size: 34px;
    color:#222222;
    margin:0;
    margin-bottom: 10px;
    margin-top: 70px;
    cursor:text;
}
p.exp__p {
    font-size: 30px;
    margin: 0;
    margin-bottom:30px;
    color:#222222;
    line-height: 27px;
    
    cursor:text;
}

div.exp__pic {
    cursor:pointer;
}