@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    margin:0;
    padding:0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

.header {
    font-size: 14px;
    background-image:url("https://a0.muscache.com/im/pictures/5998210c-3dd8-456a-8805-2a044ede1d5e.jpg?im_w=1200");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 560px;
    color:#fff;
    opacity: 0.9;
    
}

.header__icon {
    object-fit: contain;
    height:40px;
    margin-top: 24px;
    margin-bottom: 10px;
}

.header__center {
    display:flex;
    flex: 1;
}

.header__navbar {
    display: flex;
}

.header__menu {
    display: flex;
    margin: 35px 32px;
    font-size: 15px;
    justify-content: flex-end;
    font-size: 15px;
    
}

ul.header__menu li {
    list-style:none;
    font-family: 'Montserrat', sans-serif;
    margin: 0 27px;
   
}

.header__logo {
    display: flex;
    
}

svg.logo__text {
    position: relative;
    bottom: 22px;
}

.recherche {
    display: flex;
    flex-direction: column;
    background:#fff;
    color:#000;
    position: relative;
    top: 20px;
    padding:25px 33px;
    margin-left: 80px;
    max-width: 513px;
    border-radius:8px;
}

.recherche h1 {
    font-size:37px;
    margin:0;
    font-weight: bold;
    color:#000;
    line-height: 30px;
}

.recherche p {
    color:#767676;
    font-size: 18px;
    margin-top: 13px;
    margin-bottom: 7px;
    line-height: 20px;
}

.MuiFormControl-marginNormal {
    margin-top: 16px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right:10px;
}

label.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-filled.MuiFormLabel-filled {
    color: #000;
    font-size: 13px;
    font-weight: bold;
}

label.Mui-focused .MuiInputLabel-animated {
    color:#000;
}


.MuiButtonBase-root .MuiIconButton-root .MuiPickersDay-day .MuiPickersDay-daySelected {
    background-color:#000!important;
}

.explorer {
    margin-top:40px;
    margin-left:80px;
    background:url("https://a0.muscache.com/im/pictures/5ce840f1-98dd-42bf-9c26-c5fe8c3ff767.jpg?im_w=960");
    max-width:1190px;
    height:300px;
    border-radius:8px;
    color:#FFF;
}

.logement__title {
    font-size:32px;
    color:#FFF;
    max-width:277px;
    padding-top:50px;
    padding-left:45px;
    margin-bottom:5px;
    line-height:35px;
}

p.logement__p {
    max-width:277px;
    padding-left:45px;
    font-weight:bold;
    font-size:16px;
    line-height:24px;
    margin:0;
}
button.logement__btn {
    margin-top:30px;
    margin-left:45px;
    background:#fff;
    padding:13px 16px;
    border-radius:6px;
    color:#000;
    font-weight:bold;
    font-size:16px;
    line-height:24px;
    height:42px;
    border-bottom-color:#fff;
    border:none;
    outline:none;
}

a.logement__lien {
    color:#000;
    text-decoration:none;
}

.localisation {
    margin-top:42px;
    margin-left:80px;
}

a.localisation__link {
 font-size:16px;
 font-weight:bold;
 color:#000;
 
}
a.logement__lien:hover {
   text-decoration:underline;
}

h2.localisation__title {
    margin-top:60px;
    font-size:26px;
    line-height:30px;
    font-weight:medium;
    color:#222222;
    margin-bottom:9px;
}

p.localisation__p {
    margin-top: 5px;
    font-size:16px;
    color:#717171;
}

div.appart__pic {
    background-image:url('https://a0.muscache.com/im/pictures/69556101/41a4a2be_original.jpg?im_w=480');
    background-repeat: no-repeat;
    background-position: center;
    background-position: fixed;
    background-color:orange;
    
}

.starIcon {
    margin-top:15px;
    color:#FF385C;
    display: flex;
    list-style: none;
}
ul.starIcon {
    margin-left: 15px;
    list-style: none;
}
li.starIcon:first-child {
    margin-left:10px;
    list-style: none;
}

p.appart__desc {
    font-size:16px;
    color:#484848;
    padding:10px;
    line-height: 15px;
}

img.appart__photo {
    border-radius:50%;
    width:48px;
    height:48px;
    background-color:red;
}

.logo__nav {
    display: flex;
    max-width: 1350px;
    height:90px;
    background:black;
    justify-content: space-between;
    padding:0 80px;
}

.header__menu li a {
    color:white;
    text-decoration: none;
}

.header__menu li a:hover {
    color:#767676;
}

.header__logo a {
    height: 0;
}