@media screen and (max-width: 669px) {
    .footer__mobile {
        height:58px;
        background:rgb(255, 255, 255);
        position:fixed;
        bottom:0;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        border-top: 1px solid #DDDDDD ;
        color:#FF385C;
    }

    .footer__explorer a svg{
        color:#FF385C;
        padding-top: 12px;
        margin-right: 80px;
        cursor:pointer;
    }

    .footer__explorer > p > a {
        position: relative;
        bottom: 25px;
        right:6px;
        font-size: 10px;
        color:#222222;
        text-decoration: none;
    }

    .footer__favoris a svg{
        padding-top: 12px;
        margin-right: 80px;
        color: #717171;
        cursor:pointer;
    }
    .footer__favoris a svg:hover {
        color:#FF385C;
    }

    .footer__favoris p a {
        text-decoration: none;
    }
    .footer__favoris p a:hover {
        color:#222222;
    }

    .footer__favoris p {
        position: relative;
        bottom: 14px;
        right:2px;
        font-size: 10px;
    }

    .footer__connect a svg {
        padding-top: 10px;
        margin-right: 10px;
        color: #717171;
        cursor:pointer;
    }

    .footer__connect a svg:hover {
        color:#FF385C;
    }
    .footer__connect p  a {
        text-decoration: none;
    }
    .footer__connect p  a:hover {
        
        color:#222222;
    }

    .footer__connect p {
        position: relative;
        bottom: 12px;
        right:10px;
        font-size: 10px;
    }

    .footer__bottom {
        flex-direction: column-reverse;
    }

    div.footer__right {
        display: none;
    }
}

@media screen and (min-width: 670px) {
    .footer__mobile {
        display:none;
    }
}