@media screen and (max-width: 669px) {
    .footer__mobile {
        height:58px;
        background:rgb(248, 244, 235);
        position:fixed;
        bottom:0;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer__explorer {
        padding-top: 12px;
        margin-right: 80px;
    }

    .footer__explorer p {
        position: relative;
        bottom: 14px;
        right:6px;
        font-size: 10px;
    }

    .footer__favoris {
        padding-top: 12px;
        margin-right: 80px;
    }

    .footer__favoris p {
        position: relative;
        bottom: 14px;
        right:2px;
        font-size: 10px;
    }

    .footer__connect {
        padding-top: 12px;
        margin-right: 10px;
    }

    .footer__connect p {
        position: relative;
        bottom: 14px;
        right:10px;
        font-size: 10px;
    }
}

@media screen and (min-width: 670px) {
    .footer__mobile {
        display:none;
    }
}